

.tweets{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.tweet {
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 0rem 0rem 0.1rem 0.6rem;
    white-space: nowrap;
    width: 50rem;
    border: 2px solid #d5d5d5;
    /* position: relative; */
}
.tweet_column {
    vertical-align: top;
    margin: 0;
    padding: 0;
    display: inline-block;

}
/* .avatar {
} */
.main {
    width: 45.2rem;
    font-family: Helvetica;
    white-space: normal;
}
.pic {
    margin: 0.8rem 0.5rem 0rem 0.35rem; 
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 60px;

}
.top {
    display:inline-flex;
    

}
/* .mid {
} */
.bot {
    display: inline-flex;

}
.topleft {
    width: 42rem;
    display: inline-flex;
}
.header {
   margin-top: 1.1rem;
   font-size: larger;
   font-weight: 700;
}
/* .badge {
} */
.checkmark {
    margin-top: 1.1rem;
    width: 20px;
    height: 20px;
    padding-left: 0.2rem;
    padding-top: 0.1rem;
}
.username {
    margin-top: 1.1rem;
    color: rgb(71, 96, 104);
    padding-top: 0.21rem;
    margin-left: 0.28rem;

}
.dot {
    margin-top: 0.8rem;
    padding: 0 3px 0 2px;
}
/* .time {
} */
/* .options {} */
.dots {
    opacity: 70%;
    width: 24px;
    padding: 6.8px;
    margin-top: 0.3rem;

}
.lorem {
    margin: 0;
    
}
.icons {
    width:4rem;
    opacity: 70%;
    font-weight: 100;
    font-size: 16px;
    display: flex;
    margin-right: 7rem;
}
.count {
    margin-top: 1.1rem;
}
.replies{
    margin-left: 0;
}
.reply {
    margin-top: 0.4rem;
    margin-left: 0;
    padding: 1.3px calc(1.3px + 4px) 1.3px calc(1.3px + 4px);
    width: 27px;
    height: 35px;
}
.retweet {
    padding: 0.3rem;
    margin-top: 0.3rem;
    width: 28px;
    height: 28px;
    transition: transform 0.3s ease
}
.retweet.rotate {
    transform: rotate(180deg);
}
.like {
   padding: calc(0.3rem + 1px) 0.3rem 0.3rem 0.3rem ;
   margin-top: 0.3rem;
   width: 28px;
   height: 27px;
}
.views {
    margin-top: 0.3rem;
    padding: calc(0.3rem + 1px) 0.3rem calc(0.3rem + 1px) 0.3rem ;
    width: 28px;
    height: 26px;
}
:hover.tweet {
    background-color: #f3f6f7
}
:hover.icon {
    background-color: #c8edff;
    border-radius: 50%;
}
:hover.header {
    text-decoration: underline;
}
:hover.pic {
    filter: brightness(90%);
}
:hover.dots {
    border-radius: 50%;
    background-color: #c8edff;
}
.loadingEl{
    margin: auto;
    height: 175px;
    width:  175px;
    overflow: hidden;
}
.loadGif{
    margin:-122.5% 0% 0% -207%;
}
/* Modal styles */
#btn{

    position: fixed;
    top: 10px; 
    right: 10px;
    background-color: rgb(0, 124, 220);
    border-radius: 1rem;
    border: 0px;
    color: #ffffff;
    font-weight: 700;
    height: 2rem;
    width: 7rem;
    font-family: Helvetica; 
}
:hover#btn{
   filter: brightness(90%);
   cursor: pointer;
}
.logged{
    position: fixed;
    top: 10px;
    left: 20px;
    filter: opacity(0%);
    display: flex   ;
    flex-direction: row;
    align-items: flex-start;
}
.userPic{
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(31, 132, 255);
    padding: 3px;
    aspect-ratio: 1;
    width: 45px; 
}
:hover.userPic{
    filter: brightness(90%);
}
.user{
    margin-top: 1.2rem;
    margin-bottom: -1rem;
    padding-left: 0.5rem;
    font-weight: 600;
    font-size: larger;
    font-family: Helvetica;  
}
:hover.user{
    text-decoration: underline;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#crtPost{
    display: none;
    position: fixed;
    z-index: 9999;
    bottom: 25px;
    right: 38rem;
    background-color: rgb(0, 124, 220);
    border-radius: 1.3rem;
    border: 0px;
    color: #ffffff;
    font-weight: 700;
    height: 2.5rem;
    width: 8rem;
    font-family: Helvetica; 
}
:hover#crtPost{
    filter: brightness(90%);
    cursor: pointer;
}
#makePost{
    display: block;
    position: fixed;
    z-index: 9999;
    left: 0;
    right:0;
    margin: 0 auto;
    bottom: 0;
    width: 50.5rem;
    height: 12rem;
    border: 2px solid #d5d5d5;
    background-color: white;
}
#closePost{
    color: #aaa;
    float: right;
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-size: 28px;
    font-weight: bold;
}
#closePost:hover,
#closePost:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#postSmthing{
    font-weight: 300;
    margin-left: 1rem;
    font-family: Helvetica, sans-serif
}
#postText {
    resize: none;
    width: 88%;
    height: 80%;
    margin-left: 1rem;
    padding: 10px;
    border: 2px solid #2fa8ff;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}
#postBtn{
   background-color: #2baaff;
   color: white;
   border-radius: 1rem;
   border: 0px;
   padding: 8px 20px;
   font-size: 14px;
   font-family: Helvetica, sans-serif;
}
:hover#postBtn{
   filter: brightness(90%);
}
#labelImage{
    margin-left: 38rem;
    display: inline-block;
    padding: 8px 12px;
    background-color: #2baaff;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-family: Helvetica, sans-serif;
}
:hover#labelImage{
   filter: brightness(90%);
}
#tweetPic{
    display: none;
    max-width: 650px;
}
:hover#tweetPic{
    filter: brightness(90%);
}

  